{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <a class="profile btn btn-secondary btn-lg mx-3" href="{{ path('contract_new') }}">добавить страовку</a>
<a class="profile btn btn-secondary btn-lg mx-3" href="{{ path('auto_new') }}">добавить автомобиль</a>
{% endblock %}
