{% extends 'base.html.twig' %}

{% block title %}AmountContract{% endblock %}

{% block body %}
    <div class="card mb-4 shadow-sm">
        <h3 class="mx-auto my-sm-3">Новый договор</h3>
        <div class="col-6 mx-auto my-sm-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    Расчетная стоимость страховой премии равна: ( {{ amount }} ) рублей
                    <h3>Внимание!</h3> <h5>Страховая стоимость может измениться после рассмотрения заявки!</h5>
                </div>
                <div class="card-header">
                    {{ include('contract/form_pay.html.twig') }}
                </div>


            </div>
        </div>
    </div>
{% endblock %}
