{% extends 'base.html.twig' %}

{% block title %}Edit Contract{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mb-4 shadow-sm my-sm-3">
            <h3 class="mx-auto my-sm-3">Добавление договора</h3>
            <div class="card-header">


            </div>
            <div class="card-body">
                {{ include('contract/_form.html.twig', {'button_label': 'Отправить'}) }}
            </div>


        </div>
    </div>





   {# {{ include('contract/_delete_form.html.twig') }}#}
{% endblock %}
