<form method="post" action="{{ path('auto_delete', {'vin': auto.vin}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auto.vin) }}">
    <button class="btn btn-danger btn-lg">Удалить</button>
</form>
