{% extends 'base.html.twig' %}

{% block title %}Edit Auto{% endblock %}

{% block body %}
<div class="card mb-4 shadow-sm">
    <h3 class="mx-auto my-sm-3">Изменить автомобиль</h3>
    <div class="col-6 mx-auto my-sm-3">
        <div class="card mb-4 shadow-sm">

            <div class="card-header">
                {{ include('auto/_form.html.twig', {'button_label': 'Изменить'}) }}
            </div>
            <div class="card-header">
                {{ include('auto/_delete_form.html.twig') }}


            </div>
        </div>
    </div>
</div>

{% endblock %}
